html, body {
    margin: 0;
    font-family: 'Geist';
    font-size: 15px;
    font-weight: 400;
    color: #333;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; /* Evita lo scroll orizzontale */
}

h1 {
    margin: 0;
    color: #394A9F; 
    font-size: 47px;
    font-family: 'Geist Mono', monospace; 
    font-weight: 700; 
}
h2 {
    font-size: 27px;
    font-family: 'Geist Mono', monospace;
    color: #394A9F;
    font-weight: 600;
    margin: 0;
}
h3 {
    color: #394A9F;
    font-weight: 400;
    font-size: 19px;
    font-family: 'Geist Mono', monospace;
    margin-top: 20px;
    margin-bottom: 10px;
}
h4 {
    color: #394A9F;
    font-size: 15px;
    font-family: 'Geist Mono', monospace;
    font-weight: 400;
}

.layout {
    margin-left: 144px;
    margin-right: 200px;
}

.topbottommargins {
    margin-top: 40px;
    margin-bottom: 40px;
}

.container {
    max-width: 725px;
}

header {
    background-color: #394A9F;
    color: #fff;
    display: flex;
    flex-direction: row;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #000;
    position: fixed;
    z-index: 10;
    width: 100%;
    margin: 0;
}

.pagine {
    display: flex;
    justify-content: center;
    padding-left: 10em;
}

header .logo img {
    height: 52px;
    width: auto;
    margin-left: 20px;
}

header button {
    font-family: 'Geist Mono', monospace;
    text-decoration: none;
    width: auto; 
    height: 60px;
    padding-left: 15px; 
    padding-right: 15px;
    justify-content: center; 
    align-items: center; 
    gap: 31px;
}

header a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

#reportdecoherence {
    height: auto;
    padding-top: 5px; 
    padding-bottom: 5px; 
    border: 1px white solid;
    justify-content: center;
    display: flex;
    justify-content: space-between;
    gap: 10px; 
    margin-right: 20px;
}

#reportdecoherence:hover {
    background-color: #fff;
}
#report-icona {
    width: 32px;
    height: 34px;
    background-image:url(icone/reportbianco.png);
    background-size:contain;
}
#reportdecoherence:hover #report-icona {
    width: 32px;
    height: 34px;
    background-image:url(icone/reportblu.png);
}

#reportdecoherence a {
    font-size: 17px;
}
#reportdecoherence:hover a {
    color: #394A9F;
}

button {
    padding-left: 15px;
    padding-right: 15px; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    border: 1px rgba(0, 0, 0, 0.80) solid;
    justify-content: center; 
    align-items: center; 
    gap: 10px;
    background-color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    width: auto;
}

a {
    font-family: 'Geist Mono', monospace;
    text-decoration: none;
    color: #333;
    opacity: 65%;
}

button:hover a {
    opacity: 100%; 
}

a:hover {
    opacity: 100%; 
}

footer {
    background-color: #C4C4C4;
    padding-bottom: 40px;
    border-top: 2px solid #000;
    font-family: 'Geist Mono', monospace;
    margin: 0;
    margin-top: 120px;
}
.footer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding: 20px 40px;
    text-align: left;
}
footer p {
    margin-top: 0;
    margin-bottom: 0;
}
.column {
    display: flex;
    flex-direction: column;
}
.column h3 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #000;
}
.column a {
    text-decoration: none;
    color: #000;
    margin-bottom: 5px;
}
.icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    max-width: 26px;
    max-height: 26px;
}
.legal p {
    text-decoration: underline;
}
.bottom-note {
    font-size: 12px;
    margin-top: 20px;
    text-align: center;
}

ul {
    display:none;
    visibility: hidden;
    position: absolute;
}
/* Tablet orizzontali */
@media (width<=1024px) {
    .layout {
        margin-left: 50px;
        margin-right: 50px;
    }
    .pagine {
        padding-left: 5em;
    }
    .footer {
        flex-direction: column;
    }
    #reportdecoherence a {
        display: none;
    }
    .topbottommargins{
        margin-left: 20px;
        margin-right: 20px;
    }
}

/* Tablet verticali */
@media (width<768px) {
    .layout {
        margin-left: 20px;
        margin-right: 20px;
    }
    .pagine {
        padding-left: 0;
    }
    #menutendina, ul {
        display: block;
        visibility: visible;
        position: static;
    }
    #menutendina:hover {
        background-color: #fff;
    }
    #menu-icona {
        width: 32px;
        height: 34px;
        background-image:url(icone/menu-02.png);
        background-size:contain;
    }
    #menutendina:hover #menu-icona {
        width: 32px;
        height: 34px;
        background-image:url(icone/menublu.png);
    }
}

/* Smartphone */
@media (320px<=width<=468px) {
    .layout {
        margin-left: 20px;
        margin-right: 20px;
    }
    p {
        font-size: 14px;
    }
    header .logo img {
        height: 40px;
    }
    .pagine, #reportdecoherence {
        display: none;
    }
}

@media (width<768px) {
    .layout {
        margin-left: 20px;
        margin-right: 20px;
    }
    .container {
        max-width: 90%;
    }
    .pagine {
        padding-left: 0;
        display: none;
    }
    #reportdecoherence{
        display: none;
    }
    #menutendina {
        justify-self: left;
        margin-right: 20px;
        position: relative;
    }
    
    #menu-icona {
        width: 32px;
        height: 34px;
        background-image: url(icone/menu-02.png);
        background-size: contain;
        cursor: pointer;
        background-repeat: no-repeat;

    }
    
    #menutendina:hover #menu-icona {
        background-image: url(icone/menublu.png);
    }
    
    ul {
        list-style: none;
        padding: 0;
        margin-right: 0;
    }
    
    ul li {
        position: relative;
    }
    
    ul li a {
        display: block;
        font-family: "Geist Mono";
        text-decoration: none;
        color: #fff;
        opacity: 65%;
        padding: 10px 15px;
        text-align: left;
        width: 220px;
    }
    
    ul li ul.dropdown {
        display: none;
        position: absolute;
        background-color: #394A9F;
        z-index: 999;
        right: -20px;
    }
    
    ul li ul.dropdown li {
        display: block;
    }
    
    ul li:hover ul.dropdown {
        display: block;
    }
    
    ul li a:hover {
        background: #394A9F;
    }
}