#loghi {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 145px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.45);
    margin-top: 90px;
}
#logo-grande img {
width: 726px;
height: 411px;
}
#related-versions img {
    width: 360.5px;
    height: 200px;   
}
#colonne {
    display: flex;
    flex-direction: row;
    gap: 64px;
}
.colonne-description {
    max-width: 353px;
}

.gallery-layout {
    display: flex;
    flex-direction: column;
    overflow: hidden;   
}
#title-arrows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#arrows {
    display: flex;
    flex-direction: row;
    gap: 83px;
}
#arrows img {
    height: 30px;
    cursor: pointer;
}
.gallery-wrapper {
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.45);
    padding-bottom: 40px;
}
.gallery {
    display: flex; /* Allinea le immagini orizzontalmente */
    overflow: hidden; /* Nasconde l'overflow quando le immagini si spostano */
    transition: transform 0.4s ease; /* Rende fluido lo spostamento delle immagini */
}

.gallery img {
    flex-shrink: 0; /* Impedisce che le immagini si comprimano */
    object-fit: contain; /* Assicura che le immagini non vengano distorte */
    transition: transform 0.4s ease; /* Aggiungi una transizione alle immagini */
    height: 309px;
    margin-right: 1em;
}

p {
    font-family: Geist mono;
}

#shift-tipo {
    display: flex;
    flex-direction: row;
    gap: 1em;
}
#shift-tipo img {
    width: 7%;
    height: auto;
}

#related-versions {
    display: flex;
    flex-direction: column;
}

@media (width<=1024px) {
    #loghi, #colonne {
        display: flex;
        flex-direction: column;
    } 
}
@media (width<=600px) {
    #logo-grande img {
        width: 100vw;
        height: auto;
    } 
    #related-versions img {
        width: 60vw;
        height: auto;
    }
    .gallery img {
        height: 170px;
    }
}
@media (width<=1400px) {
    .dossierTitoliGrid, .dossierGrid {
        grid-template-columns: 30% 30% 30% 30% 30%;
    }
    .staffTitoliGrid, .staffGrid {
        grid-template-columns: 35% 35% 35%;
    }
}

@media (width<=468px) {
.dossierTitoliGrid, .dossierGrid, .staffTitoliGrid, .staffGrid {
    grid-template-columns: 50% 50%;
}
#data-titolo, .date, .email, .email-titolo {
    display: none;
}
}




