.dossierGrid {
    display: grid;
    grid-template-columns: 22em 22em 22em 22em 22em;
    height: 60px; 
    text-align: left;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.45);
}

.dossierTitoliGrid {
    display: grid;
    grid-template-columns: 22em 22em 22em 22em 22em;
}

.staffdossier {
    border-bottom: 2px solid rgba(0, 0, 0, 0.45);
    margin-top: 90px;
}
.staffdossier p {
    max-width: 725px;
}

.staffTitoliGrid {
    display: grid;
    grid-template-columns: 30em 30em 30em;
}

.staffGrid {
    display: grid;
    grid-template-columns: 30em 30em 30em;
    height: 60px; 
    text-align: left;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.45);
}

@media (width<=1024px) {
    #keywords-titolo, .keywords{
        display: none;
    }
}

@media (width<=1400px) {
    .dossierTitoliGrid, .dossierGrid {
        grid-template-columns: 30% 30% 30% 30% 30%;
    }
    .staffTitoliGrid, .staffGrid {
        grid-template-columns: 35% 35% 35%;
    }
}

@media (width<=468px) {
.dossierTitoliGrid, .dossierGrid, .staffTitoliGrid, .staffGrid {
    grid-template-columns: 50% 50%;
}
#data-titolo, .date, .email, .email-titolo {
    display: none;
}
}



  
  